<div class="p-4 mt-20 max-w-3xl mx-auto">
  <p class="text-4xl text-black font-medium">Dynamic Charts</p>

  <!-- <app-chart-form
    (chartDataEmitter)="onChartDataReceived($event)"
  ></app-chart-form> -->

  <p id="root"></p>
  <!-- <react-visualizer #reactVisualizer></react-visualizer> -->
  <p class="mt-8 text-lg">
    This is a demo project showcasing the ability to seamlessly integrate
    Angular and React codebases into a monolithic app, thanks to the NX monorepo
    tools. Source code available
    <a
      href="https://github.com/marvelmiles/angular-react-monorepo"
      target="_blank"
      class="text-blue-900 underline"
      >here
    </a>
  </p>
  <router-outlet></router-outlet>
</div>
